<table>
  <% @listings.each do |listing| %>
    <tr>
      <% if listing.class != Listing %>
      <% listing = Listing.find(listing.searchable_id)%>
      <% end %>
      <td><%= link_to listing.title, listing %></td>
      
      </tr>
<% end %>
</table>

<div class="apple_pagination">
   <div class="page_info">
     <%= page_entries_info @listings %>
   </div>
   <%= will_paginate @listings, :container => false %>
</div>