// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-inline {
  float: right;
  padding-right: 13px;
  padding-top: 0.1in
}

.form-horizontal {
  padding-right: 100px;
}

.form-group {
  text-align: center;
}